{% extends 'base.html' %}

{% block title %}Підписка на курс{% endblock %}

{% block content %}
<div class="form-box">
    <div class="card" style="text-align:center;">
        <h1>Підписка на курс</h1>
        <p>Ви хочете підписатися на курс<br><strong>"{{ course.title }}"</strong>?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Так, підписатися</button>
            <a href="{{ course.get_absolute_url }}" class="btn btn-secondary">Скасувати</a>
        </form>
    </div>
</div>
{% endblock %}
