{% extends 'base.html' %}

{% block title %}Видалити курс{% endblock %}

{% block content %}
<div class="form-box">
    <div class="card" style="text-align:center;">
        <h1>Видалити курс</h1>
        <p>Ви впевнені, що хочете видалити курс<br><strong>"{{ object.title }}"</strong>?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Так, видалити</button>
            <a href="{% url 'course_detail' object.pk %}" class="btn btn-secondary">Скасувати</a>
        </form>
    </div>
</div>
{% endblock %}
