{% extends 'base.html' %}

{% block title %}Видалити модуль{% endblock %}

{% block content %}
<div class="form-box">
    <div class="card" style="text-align:center;">
        <h1>Видалити модуль</h1>
        <p>Ви впевнені, що хочете видалити модуль<br><strong>"{{ object.title }}"</strong>?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Так, видалити</button>
            <a href="{{ object.course.get_absolute_url }}" class="btn btn-secondary">Скасувати</a>
        </form>
    </div>
</div>
{% endblock %}
